/* ------------------------------ */
/* SETUP */
/* ------------------------------ */

:root {
  --main-blue-color: #0493b0;
  --shade-blue-color: #0a7286;
  --main-red-color: #e31b6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

a,
li,
p,
div {
  color: #5e5e5e;
  font-family: 'Raleway', sans-serif;
}

/* ------------------------------ */
/* BUTTONS */
/* ------------------------------ */

.bttn:link,
.bttn:visited {
  text-decoration: none;
  padding: 12px 15px;
  transition: background-color 0.4s, border 0.4s;
}

.btn-full:link,
.btn-full:visited {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-full:hover,
.btn-full:active {
  background-color: var(--main-blue-color);
  border: 2px solid var(--main-blue-color);
}

/* ------------------------------ */
/* HEADINGS */
/* ------------------------------ */

h1,
h2,
h3 {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

h1 {
  color: #fff;
  font-size: 300%;
  letter-spacing: 2px;
  margin: 0;
}

h2 {
  color: #5e5e5e;
  font-size: 230%;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 4px;
}

h2:after {
  background-color: var(--main-red-color);
  content: '';
  display: block;
  height: 5px;
  margin: 20px auto 75px auto;
  width: 100px;
}

h3 {
  font-size: 140%;
}

/* ------------------------------ */
/* LOGOS */
/* ------------------------------ */

.logo-main {
  height: 80px;
  width: auto;
}

/* ------------------------------ */
/* LINKS */
/* ------------------------------ */
.link:link,
.link:visited {
  color: var(--shade-blue-color);
  font-weight: 700;
  text-decoration: none;
}

.ext-link:link,
.ext-link:visited {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s;
}

.ext-link:hover,
.ext-link:active {
  border-bottom: 2px solid var(--shade-blue-color);
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

header {
  background-image: linear-gradient(
      180deg,
      rgba(20, 20, 20, 0.9),
      rgba(20, 20, 20, 0.9)
    ),
    url('./images/header-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.header-text-box {
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.name {
  color: var(--main-red-color);
  font-weight: 400;
}

/* ------------------------------ */
/* MAIN NAV */
/* ------------------------------ */

.navbar-toggler i {
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
}

.link-container {
  display: inline-block;
  margin: 4px 15px;
}

.link-container a:link,
.link-container a:visited {
  color: #ffffff;
  display: inline-block;
  border-bottom: 2px solid transparent;
  font-size: 80%;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  transition: border-bottom 0.3s;
}

.link-container a:hover,
.link-container a:active {
  border-bottom: 2px solid var(--main-blue-color);
}

/* ------------------------------ */
/* ABOUT */
/* ------------------------------ */

.section-about {
  background-color: #f7f7f7;
}

.about-principle {
  text-align: center;
}

.about-principle i {
  color: var(--main-blue-color);
  font-size: 5rem;
}

.about-principle h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.about-principle p {
  font-size: 1rem;
}

.about-author figure img {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: block;
  height: auto;
  margin: 0 auto 20px auto;
  text-align: center;
  max-width: 200px;
}

.about-author figure figcaption {
  padding: 0 10px;
}

.about-author figure figcaption h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.about-author figure figcaption p {
  line-height: 150%;
  margin: 0 auto;
  text-align: justify;
  width: 95%;
}

.about-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-tech .tech-wrap:last-of-type {
  margin-bottom: 0;
}

.about-tech h3 {
  background-color: #e31b6d;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  margin: 0 auto 30px auto;
  padding: 5px 10px;
  text-align: center;
  width: 40%;
}

.tech-wrap {
  background-color: #0a7286;
  margin-bottom: 20px;
  width: 100%;
}

.tech-label {
  background-color: #0493b0;
  color: #fff;
  text-align: center;
  width: 30%;
}

.tech-content {
  width: 90%;
}

.tech-content span {
  color: #fff;
  display: inline-block;
  padding: 5px 8px;
}

/* ------------------------------ */
/* EXPERIENCE */
/* ------------------------------ */

.section-experience hr {
  margin-top: 2px;
}

.experience-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-header p {
  text-align: right;
  margin-bottom: 0;
}

.experience-header a {
  display: inline-block;
}

.experience-header p:first-child {
  font-weight: 700;
}

.experience-header p:last-child {
  font-size: 0.7rem;
  font-style: italic;
}

/* ------------------------------ */
/* PROJECTS */
/* ------------------------------ */

.section-project {
  background-color: #f7f7f7;
}

.project-item {
  background-color: #fff;
  box-shadow: 6px 6px 9px -2px rgba(228, 228, 228, 0.76);
  height: 100%;
  width: 100%;
}

.project-item h3 {
  font-weight: 400;
  margin: 0;
}

.project-item a:link,
.project-item a:visited {
  text-decoration: none;
  transition: all 0.2s;
}

.project-item a:hover,
.project-item a:active {
  color: var(--main-blue-color);
}

.project-item i {
  font-size: 1.5rem;
}

.project-item .card-title h3 {
  font-size: 110%;
}
