/* ------------------------------ */
/* SETUP */
/* ------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  color: #424242;
  font-family: 'Comfortaa', Tahoma, Geneva, Verdana, cursive;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

section {
  padding: 50px 0;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* ------------------------------ */
/* BUTTONS */
/* ------------------------------ */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 0.7rem 0.7rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #0493b0;
  border: 1px solid #0493b0;
  color: #fff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #0a7286;
  border: 1px solid #0a7286;
}

/* ------------------------------ */
/* HEADINGS */
/* ------------------------------ */

h1,
h2,
h3 {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}

h1 {
  color: #ffffff;
  font-size: 300%;
  margin: 0;
}

h2 {
  font-size: 200%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 4px;
}

h2:after {
  background-color: #0493b0;
  content: '';
  display: block;
  height: 5px;
  margin: 20px auto 0 auto;
  width: 100px;
}

/* ------------------------------ */
/* LOGOS */
/* ------------------------------ */

.logo-main {
  height: 100px;
  width: auto;
  float: left;
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

header {
  background-image: linear-gradient(
      180deg,
      rgba(20, 20, 20, 0.9),
      rgba(20, 20, 20, 0.9)
    ),
    url('./images/header-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.header-text-box {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
}

.header-text-box h1 {
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.name {
  color: #e31b6d;
  font-weight: 400;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  padding-left: 5px;
  color: #fff;
}

/* ------------------------------ */
/* MAIN NAV */
/* ------------------------------ */

.main-nav {
  list-style: none;
  margin-top: 40px;
  float: right;
}

.main-nav li {
  display: inline-block;
  margin: 0 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #ffffff;
  border-bottom: 2px solid transparent;
  letter-spacing: 3px;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #0493b0;
}

/* ------------------------------ */
/* WORK NAV */
/* ------------------------------ */

.nav-work {
  background-color: rgba(20, 20, 20, 0.95);
  border-bottom: 3px solid #0493b0;
  height: 60px;
  margin: 0 auto;
}

.nav-work ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-work ul li {
  display: inline-block;
  padding: 20px;
}

.nav-work-item:link,
.nav-work-item:visited {
  color: #fff;
  font-size: 85%;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-work-item:hover,
.nav-work-item:active {
  color: #e31b6d;
}
